<div class="notes">
  <%= note.body %>
  <br/>
  By: <%= note.user.email %>
  <br/>
  <% if current_user.id == note.user_id %>
    <form action="<%= note_url(note) %>" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" name="" value="DELETE NOTE">
    </form>
  <% end %>
</div>
